@model int[,]
@{
	ViewData["Title"] = "Othello Board";
	string player2Name = ViewBag.User2Name ?? "Waiting for Player 2";
	int playerTurn = Context.Session.GetInt32("CurrentPlayer") ?? 0;
}

<div class="othello-form othello-board-card">
	<div class="othello-wrapper board-wrapper">
		<div class="board-players">
			<p class="mb-0 othello-player-label">Player 1: @ViewBag.User1Name</p>
			@{
				var player2Css = ViewBag.User2Name == null ? "othello-player-label othello-player-waiting" :
				"othello-player-label";
			}
			<p class="mb-0 @player2Css">Player 2: @player2Name</p>
		</div>
		<p>Currentplayer: @ViewBag.CurrentPlayer</p>

		<!-- Form posts which position the user clicked -->
		<div class="othello-board">
			@for (int row = 0; row < 8; row++)
			{
				for (int col = 0; col < 8; col++)
				{
					var index = row * 8 + col;
					var cell = @Model[row, col];

					<div class="othello-cell">
						@if (cell == 0 && playerTurn == ViewBag.CurrentPlayer && player2Name != "Waiting for Player 2")
						{
							<form method="post" asp-controller="Games" asp-action="makeMove">
								<input type="hidden" name="row" value="@row" />
								<input type="hidden" name="col" value="@col" />
								<input type="hidden" name="currentplayer" value="@ViewBag.CurrentPlayer" />
								<button type="submit" class="othello-cell-button"></button>
							</form>
						}
						else if (cell == 2)
						{
							<!-- White piece -->
							<div class="othello-piece white"></div>
						}
						else if (cell == 1)
						{
							<!-- Black piece -->
							<div class="othello-piece black"></div>
						}
					</div>
				}
			}
		</div>
	</div>
</div>

<form asp-controller="Games" asp-action="LeaveGame" method="post" class="othello-leave-form">
	@Html.AntiForgeryToken()
	<button type="submit" class="othello-leave-btn">Leave Game</button>
</form>